.header {    
    top: 0;
    width: 100%;
    clear: both;
    height: 100px;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
}

select {
    width: 300px;
}