<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    {% block head %}
      <title>Sensei - {% block title %}{% endblock %}</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    {% endblock %}
  </head>
  <body>
    <div class="header">
      <h1>Sensei</h1>
      {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
      {% endfor %}
      <div class=metanav>
      {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">log in</a>
      {% else %}
      <a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
      </div>
    </div>
    <div class="page">
      {% block body %}{% endblock %}
    </div>
    <div class="footer">
      <em><small>&copy; Copyright 2014 Dimitrije Radojević</small></em>
    </div>
  </body>
</html>
