{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block body %}
  <h2>Login</h2>
  {% if not session.logged_in %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('login') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
      <dd><input type=submit value=Login>
    </dl>
  </form>
  {% else %}
    <strong>You are already logged in!</strong>
  {% endif %}
{% endblock %}