{% extends "layout.html" %}
{% block title %}Readings{% endblock %}
{% block head %}
  {{ super() }}
  
  {% if session.logged_in and sessions %}
  <!-- Load jQuery -->
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.11.0.min.js') }}"></script>
  
   <!--Load the Google AJAX API-->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  
  <script type="text/javascript">
	
	 // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});
	
	$(function() {
	  
	  // on session list change
	  $("select#session_select").change(function() {
		
		// first reset sensor list
		$("select#sensor_select").html('<option value="">--- Select session first ---</option>');
		$("select#sensor_select").prop('disabled', true);
		
		// ignore placeholder option
		if ($(this).val()) {
		  
		  // send an AJAX request  
		  $.getJSON("{{ url_for('get_sensors') }}", {id: $(this).val()},
			function(data) {
			  
			  // check if anything was returned at all
			  if (!jQuery.isEmptyObject(data)) {
				var options = '<option value="" selected="true">--- Please select sensor ---</option>'
				for (var i = 0; i < data.length; i++) {
					options += '<option value="' + data[i].id + '">' + data[i].uid + ' - ';
					if (data[i].type == 0) {
					  options += 'TEMPERATURE';
					} else {
					  options += 'CURRENT'
					}
					options += '</option>';
				}
				$("select#sensor_select").html(options);
				$("select#sensor_select").prop('disabled', false);
			  } else {
				$("div#chart").html('<p><em>No data yet!</em> Please refresh this page soon.</p>');
			  }
			})
		}
	  })
	  
	  // draw graph on sensor list change
	  $("select#sensor_select").change(loadDataAndDrawGraph);
	})
	
	// ... and update graph every 30 seconds
	setInterval(loadDataAndDrawGraph, 30000);
	  
	function loadDataAndDrawGraph() {
	  // check if both sensor and session ID are selected
	  var sessionId = $("select#session_select").val()
	  var sensorId = $("select#sensor_select").val()
	  if (sessionId && sensorId) {
		
		// send an AJAX request to server
		$.getJSON("{{ url_for('get_readings') }}", {'sessionId': sessionId, 'sensorId': sensorId},
			function(data) {
					  
			  // check if anything was returned
			  if (!jQuery.isEmptyObject(data)) {
						
				// call GViz drawing stuff
				drawGraph(data);
			  } else {
				$("div#chart").html('<em>No data yet! Page will be automatically refreshed in 30 seconds.</em>');
			  }
			})
	  }
	}
	
	// draw graph with readings
	function drawGraph(data) {
	  var chart = new google.visualization.LineChart(document.getElementById('chart'));
	  var data_table = new google.visualization.DataTable(data);
	  chart.draw(data_table);
	}
  </script>
  {% else %}
  <!-- Make sure the page is refreshed every 10 seconds -->
  <meta http-equiv="refresh" content="10" >
  {% endif %}
{% endblock %}
{% block body %}
  
  {% if sessions %}
	<div id="form">
	<select id="session_select" autocomplete="off">
	  <option value="" selected="selected">--- Please select session ---</option>
	  {% for session in sessions %}
		<option value="{{ session.id }}">
		  {{ session.description|default('Session') }} - {{ session.created_at.strftime('%d-%m-%Y %H:%M:%S') }}</option>
	  {% endfor %}
	</select>
	<select id="sensor_select" disabled autocomplete="off">
	  <option value="">--- Select session first ---</option>
	</select>
  </div>
  <div id="chart"></div>
  {% else %}
	<em>no sessions yet!</em>
  {% endif %}
{% endblock %}
